body {
    font-family: 'Montserrat', sans-serif;
}

.destinations-grid {
    display: grid;
    grid-template-areas:
        "berlin berlin madrid"
        "berlin berlin paris"
        "rome moscow paris"
        "budapest budapest barcelona"
        "prague sanktpeterburg vienna";
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

#berlin {
    grid-area: berlin;
}

#barcelona {
    grid-area: barcelona;
}

#paris {
    grid-area: paris;
}

#moscow {
    grid-area: moscow;
}

#rome {
    grid-area: rome;
}

#budapest {
    grid-area: budapest;
}

#madrid {
    grid-area: madrid;
}

#sanktpeterburg {
    grid-area: sanktpeterburg;
}

#vienna {
    grid-area: vienna;
}

#prague {
    grid-area: prague;
}

.destination {
    position: relative;
}

/* As wide and as high as the parent element which is above - .destination */
.destination img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.destination .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.25s ease-in;
}

.destination .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

/* SCREEN SIZE SMALLER THAN 1100px */
@media only screen and (max-width: 1100px) {
    .destinations-grid {
        max-width: 100%;
        grid-template-areas:
            "berlin berlin"
            "rome madrid"
            "moscow paris"
            "budapest budapest"
            "prague barcelona"
            "sanktpeterburg vienna";
    }
}

/* SCREEN SIZE SMALLER THAN 768px */
@media only screen and (max-width: 768px) {
    .destinations-grid {
        grid-template-areas:
            "berlin berlin"
            "rome rome"
            "madrid madrid"
            "moscow paris"
            "budapest budapest"
            "prague barcelona"
            "sanktpeterburg sanktpeterburg"
            "vienna vienna";
    }
}