body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.navbar .left {
    font-size: 44px;
    font-weight: bold;
}

.navbar .right {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right img {
    width: 24px;
    height: 24px;
}

.navbar .right a {
    text-decoration: none;
    color: black;
}

.navbar .right a:hover {
    text-decoration: underline;
}

.navbar .hamburger {
    display: none;
}

.hamburger {
    height: 50px;
    width: 50px;
}

.navbar .bar {
    background-color: black;
    height: 4px;
    width: 38px;
    margin: 3px;
    border-radius: 10px;
}

.destinations-grid {
    display: grid;
    grid-template-areas:
        "berlin berlin madrid"
        "berlin berlin paris"
        "rome moscow paris"
        "budapest budapest barcelona"
        "prague sanktpeterburg vienna";
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    margin: 0 auto;
}

#berlin {
    grid-area: berlin;
}

#barcelona {
    grid-area: barcelona;
}

#paris {
    grid-area: paris;
}

#moscow {
    grid-area: moscow;
}

#rome {
    grid-area: rome;
}

#budapest {
    grid-area: budapest;
}

#madrid {
    grid-area: madrid;
}

#sanktpeterburg {
    grid-area: sanktpeterburg;
}

#vienna {
    grid-area: vienna;
}

#prague {
    grid-area: prague;
}

.destination {
    position: relative;
}

/* As wide and as high as the parent element which is above - .destination */
.destination img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.destination .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.25s ease-in;
    text-align: center;
}

.destination .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.overlay.white {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.overlay.black {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

.footer {
    text-align: center;
    padding: 64px;
}

/* SCREEN SIZE SMALLER THAN 1100px */
@media only screen and (max-width: 1100px) {
    .container {
        max-width: 100%;
    }

    .destinations-grid {
        max-width: 100%;
        grid-template-areas:
            "berlin berlin"
            "rome madrid"
            "moscow paris"
            "budapest budapest"
            "prague barcelona"
            "sanktpeterburg vienna";
    }

    .footer {
        text-align: center;
        padding: 32px;
    }
}

/* SCREEN SIZE SMALLER THAN 768px */
@media only screen and (max-width: 768px) {
    .destinations-grid {
        margin-top: 150px;
    }

    .navbar {
        padding: 16px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: white;
        width: 100%;
        padding: 16px 24px;
        box-sizing: border-box;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destinations-grid {
        grid-template-areas:
            "berlin berlin"
            "rome rome"
            "madrid madrid"
            "moscow paris"
            "budapest budapest"
            "prague barcelona"
            "sanktpeterburg sanktpeterburg"
            "vienna vienna";
    }

    .destination .overlay {
        font-size: 28px;
    }

    .footer {
        text-align: center;
        padding: 16px;
    }
}