body {
    font-family: 'Montserrat', sans-serif;
}

.destinations-grid {
    display: grid;
    grid-template-areas:
        "berlin berlin madrid"
        "berlin berlin paris"
        "moscow rome paris"
        "budapest budapest barcelona"
        "sanktpeterburg vienna prague";
}

#berlin {
    grid-area: berlin;
}

#barcelona {
    grid-area: barcelona;
}

#paris {
    grid-area: paris;
}

#moscow {
    grid-area: moscow;
}

#rome {
    grid-area: rome;
}

#budapest {
    grid-area: budapest;
}

#madrid {
    grid-area: madrid;
}

#sanktpeterburg {
    grid-area: sanktpeterburg;
}

#vienna {
    grid-area: vienna;
}

#prague {
    grid-area: prague;
}

.destination {
    /* width: 700px; */
    position: relative;
}

/* As wide and as high as the parent element which is above - .destination */
.destination img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.destination .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: 0.25s ease-in;
}

.destination .overlay:hover {
    opacity: 1;
    cursor: pointer;
}